@import url('https://fonts.googleapis.com/css2?family=Mako&family=Port+Lligat+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Port Lligat Sans", sans-serif;
    scroll-behavior: smooth;
}
body{
    background: url(bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
section{
    margin-left: 450px;   
}
ul li{
    display: inline-block;
    margin-top: 20px;
    padding-right: 30px;
    font-size: 20px;
}
ul li a{
    list-style: none;
    color: white;
    text-decoration: none;  
}
.active{
    text-decoration: underline;
}
.content{
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 200px;
    letter-spacing: 3px;
}
button{
    width: 100px;
    height: 30px;
    margin-left: 600px;
    margin-top: 30px;
    color: white;
    font-weight: 800;
    letter-spacing: 1.5px;
    cursor: pointer;
    background: transparent;
    border: 1px solid white;
    outline: none;
    transition: all ease .3s;
}
button:hover{
    color: black;
    background: white;
}


    
