@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    background-color: #1a1a1a;
    color: white;
}
nav ul li{
    color: white;
    line-height: 100px;
    margin-right: 20px;   
}
nav ul{
    margin-left: 330px;
    line-height: 0px;   
}
nav ul li{
    display: inline-block;
    list-style: none;
    padding: 0px 5px;
    margin-left: 20px;
    letter-spacing: 2px;
      
}
nav ul li a{
    color: white;
    cursor: pointer;
    text-decoration: none; 
    text-transform: uppercase;
    transition: 0.3s ease;
}
nav ul li a:hover{
    color: darkred;   
}
nav ul li .active{
    color: darkred;
}
.login{
    margin-top: 40px;
    margin-left: 100px;
}
.hover-effect{
    margin-top: 40px;
    margin-left: 70px;
    padding: 0 100px;
}
.project-videos{
    display: flex;
}
.gallery{
    margin-left: 100px;
}